body{
    margin: 0;
    color: black;
}
.main1{
padding-left: 35px;   
max-width: 200px;
max-height: 85vh;
min-width:250px ;
min-height: 80vh;
background-color: #754ef9;
color: white;
}
.main-p{
    text-align: center;
    font-size: 30px;
}

.images{
    display: block;
    max-width: 200px;
   max-height: 200px;
    
    border-radius: 50%;
    padding: 0px;
  border: solid 20px #754ef9;
 
}

.two{
  margin-top: 0px;
 border: solid 10px #754ef9; 
border-radius: 50%;
position: absolute;
}
.main2{
 border: solid 40px white; 
border-radius: 50%; 
} 
.main-head{
display: flex; 
 }
 .creative-section{
padding: 8px;
background-color: #754ef9;
 }
.creative-p{
 margin-top: 150%;
}

.download-btn {
  background-color: #754ef9;
  color: white;
  border: none;
   min-width: 100px;
   max-width: 300px; 
  font-size: 10px;
  padding: 5px;
  border-radius: 20px;
  cursor: pointer;
 
  font-family: 'Times New Roman', Times, serif;
  transition: background-color 0.3s ease;
}

.download-btn:hover {
  background-color: #007b80;
}



.container-fluid{
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 12%;
  max-width: 1000px;
}

.Navbar {
 margin-left:30%;
     display: flex;
}
.links{
  padding-left: 0%;
}
.lists {
    list-style: none;
    margin-left: 140%;
    padding: 0;
  display:inline-flex;  
     gap: 90%;  
      
}
.content {
    text-decoration: none;
    color: black;
    font-size: 15px;
    transition: color 0.3s ease;
    font-family: 'Times New Roman', Times, serif;
     
     position: absolute;
} 

 .content:hover {
   
    text-decoration: underline;
}
.fellow-page {
    position: absolute;
    right: -3%;
    top: 25%;
    flex-direction: column;
    align-items: flex-end;
    text-align: end;
    z-index: 0;
    
}

.fello {
    
    flex-direction: column;
    align-items: center;
   
}

.rotate-text {
    
    transform: rotate(90deg); /* flips it to be readable from bottom to top */
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 80px;
}

.vertical-line {
    width: 1px;
    height: 40px;
    background-color: black;
    transform: rotate(90deg);
      display: block;
      margin: 10px;
}

.social-icons {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
  
}

.icon {
    font-size: 16px;
    cursor: pointer;
    
}


.my-text{
  max-width: 1000px;
  margin-top: 120px;
}
.my-text h1{
    font-size: 70px;
    font-family:Arial, Helvetica, sans-serif;
     max-width: 1000px;
  
}
.my-text p{
    font-size: 15px;
    font-family:'Times New Roman', Times, serif ;
    

}

.txt{
  color: #754ef9;
    
}


.main-cards{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 5%;
}
.cards{
   
    max-width: 250px;
    max-height: 300px;
    min-width: 0px;
    min-height: 360px;
    text-align: center;
    box-shadow: 0px 2px 6px gray;
    
    
  
}
.download-btns{
     background-color: #754ef9;
  color: white;
  border: none;
    padding: 10px; 
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10%;
}
.text-card{
    padding:  10px;
}
.icons{
    font-size: 45px;
    color: #754ef9;
}
.contains{
    display: flex;
    gap: 4px;
    justify-content: center;
    margin-top: 4px;
}
.contain img{
  max-width: 300px;
  max-height: 300px;
  min-width: 200px;
  min-height: 200px;
}
.text-img{
     display: flex;
    gap: 4px; 
    margin-top: 4px;
    justify-content: center;
    
}
.text-col{ 
    text-align: center;
     max-width: 525px;
    padding: 40px;
    min-width: 400px;
    max-height: 300px;
    background-color:#754ef9; 
    color: white;
}
.text-img img{
  max-width: 300px;
  min-width: 200px;
  max-height: 300px;
}
.contain{
    display: flex;
    gap: 4px;
    justify-content: center;
}
.contains img{
 max-width: 300px;
  max-height: 300px;
  min-width: 300px;
  min-height: 200px;
}
.portfolio-section{
  text-align: center;
}

.images1 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.white {
    background-color: #754ef9;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 0 auto; /* Centers horizontally */
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial-section {
    text-align: center;
    padding: 20px;
}

.testimonial {
    background-color: #754ef9;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
    padding-right: 10px;
    padding-left: 10px;
    max-width: 600px;
    margin: 0 auto; /* Center the testimonial box */
    border-radius: 10px;
}

.text1 {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    
}

.texts {
    text-align: center;
    padding-top: 20px;
    
}

.hire-header{
 
    border-style:solid;
    border-width: 1px;
    width: 30%;
    padding: 12px;
    

}
.hire-section{
     padding-top: 10%;
    text-align: center;
   
}

.hire-container{
   display: flex;
    padding-top: 5%;
 justify-content: center;
 align-items: center;
}
.hire-txt{
  background-color: #754ef9;
   border-style:solid;
    border-width: 1px;
    padding: 12px;
    padding-left: 30px;
     padding-right: 38px;
}
.footer{
  display: flex;
justify-content: center;
gap: 20px;
background-color: #754ef9;
color: white;
padding-bottom: 0%;
font-size: 10px;
}
.footer h3{
  padding-right:20%;
}
.pages{
  display: flex;
justify-content: center;
margin: 0 auto;
gap: 20px;
padding-right: 15%;

}
.social{
   display: flex;
justify-content: center;
gap: 20px;
font-size: 10px;
}


