@media (max-width:1300px){
    .main1{
max-width: 500px;
   max-height: 100vh;
    min-width:100px ;
    }
.images{
    display: block;
    max-width: 50px;
    height: 50px;
    border-radius: 50%;
 padding-top: 10%;
 margin-left: 10%;
}
.two{
background-color:#754ef9;
    padding: 5px;
    max-width: 120px;
height: 120px;
border-radius: 50%;
position: absolute;


}
.main2{
max-width: 70px;
height:60px;
border-radius: 50%; 
} 

.three{
    width: 60px;
    height: 60px;
}
.my-text h1{
    font-size: 10px;
}
.my-text{
padding-top: 60px;
  padding-left: 12px;
}
.container-fluid{
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 10%;
}

.Navbar {
     margin-left: 5px;  
     display: flex;
}
.links{
  padding-left: 5px;
}
.lists {
     gap: 20px;  
}
.content {
    text-decoration: none;
    color: black;
    font-size: 8px;
} 
.download-btn{
 padding: 4px;
   width: 60px; 
  font-size: 6px;
  margin: 5px;
  border-radius: 20px;
 text-align: center;
}

.main-cards{
    display: flex;
    justify-content: center;
    gap: 8px;
    margin: 5%;
}
.cards{
    max-width: 400px;
    max-height: 400px;
    min-width: 120px;
    min-height: 200px;
    text-align: center;
    box-shadow: 0px 5px 5px;
    border-radius: 5px;
    
}
.cards h3{
text-align: center;
font-size: 10px;
}
.cards p{
text-align: center;
font-size: 10px;
}
.download-btns{
   padding: 10px; 
  font-size: 10px;
  border-radius: 10px;
 
}
.text-card{
    padding:  20px;
}
.icons{
    font-size: 55px;
    color: #754ef9;
}

.contain img{
  max-width: 100px;
  max-height: 100px;
  min-width: 100px;
  min-height: 100px;
}
.text-col{ 
    font-size: 10px;
    max-width: 205px;
    min-width: 100px;
    max-height: 100px;
}
.text-img img{
  max-width: 100px;
  min-width: 100px;
  max-height: 100px;
}

.contains img{
 max-width: 100px;
  max-height: 100px;
  min-width: 100px;
  min-height: 100px;
}
.hire-header{
    max-width: 300px;
    min-width: 100px;
    font-size: 10px;

}
.txt{
  color:black;
}
.hire-section{
    font-size: 10px;
}

.hire-txt{
    font-size: 10px;
    padding-left: 0px;
     padding-right: 8px;
}
.footer{

gap: 20px;
max-width: 1000px;
}
.footer h3{
  padding-right:15%;
  font-size: 5px;
}
.pages{
gap: 10px;
padding-right: 10%;
font-size: 6px;
}
.social{
gap: 10px;
padding-left: 0px;
font-size: 8px;
}

.images1 {
    width: 60px;
    height: 60px;
    margin-top: auto;
}

.white { 
    width: 70px;
    height: 70px;
  
}
.testimonial-section {
   
    font-size: 10px;
}
.portfolio-section{
    font-size: 10px;
}

}



@media (max-width:320px){
    .main1{
max-width: 400px;
 max-height: 150vh;
    min-width:100px ;
    }
.images{
    display: block;
    max-width: 50px;
    height: 50px;
    border-radius: 50%;
 padding-top: 10%;
 margin-left: 10%;
 
}

.two{
background-color:#754ef9;
    padding: 5px;
    max-width: 120px;
height: 120px;
border-radius: 50%;
position: absolute;


}
.main2{
max-width: 70px;
height:60px;
border-radius: 50%; 
} 

.three{
    width: 60px;
    height: 60px;
}
.my-text h1{
    font-size: 8px;
}


.container-fluid{
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 0%;
}
.my-text{
padding-top: 60px;
  padding-left: 12px;
}
.links{
  padding-left:45px;
}
.lists {
     gap: 8px;  
}
.content {
    font-size: 8px;
} 


.main-cards{
    display: flex;
    justify-content: center;
    gap: 3px;
    margin: 5%;
}
.cards{
   
    border-color: white;
    max-width: 600px;
    max-height: 400px;
    min-width: 100px;
    min-height: 170px;
    text-align: center;
    box-shadow: 0px 3px 3px;
    
}
.cards h3{
text-align: center;
font-size: 10px;
}
.cards p{
text-align: center;
font-size: 10px;
}
.download-btns{

  border: none;
   padding: 10px; 
  font-size: 8px;
  font-weight: bold;
  border-radius: 10px;
 
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.text-card{
    padding:  10px;
}
.icons{
    font-size: 20px;
    color: #754ef9;
}

/* .white{
     background-color:#754ef9;
    border-radius: 50%;
    max-width: 100px;
    height: 100px;
  margin-left: 35%;
}
.testimonial-section{
text-align: center;


}
.testimonial{
 font-size: 10px;
 padding-left: 10px;
padding-right: 10px;
background-color: #754ef9;
} */

}
