@media (max-width:1300px){
.main1{
 padding-left: 50px;   
max-width: 600px;
   max-height: 60vh;
    min-width:120px ;
min-height: 50vh;
   background-color: #754ef9;
  color: white;
}
.main1 p{
    text-align: center;
}

.images{
    display: block;
    max-width: 90px;
    max-height: 90px;
    border-radius: 50%;
  border: solid 10px #754ef9 ; 
 
}

.two{

 border: solid 8px #754ef9; 
border-radius: 50%;
position: absolute;



}
.main2{
 border: solid 30px white; 
 
/* background-color: white;
padding: 40px; */ 

border-radius: 50%; 


} 

.my-text h1{
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
}
.my-text p{
    font-size: 5px;
}
.my-text{
padding-top: 0px;
  padding-left: 20px;
}
.container-fluid{
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 10%;
}
.icon-txt{
  margin-top: 30px;
  font-size: 12px;
  margin-left: 10px;
}
.Navbar {
 margin-left:0%;
     display: flex;
}
.links{
  padding-left: 80%;
}
.lists {
    list-style: none;
    margin-left: 0%;
    padding: 0;
  display:inline-flex;  
     gap: 20px;  
}
.content {
    text-decoration: none;
    color: black;
    font-size: 8px;
} 
.download-btn {
   min-width: 80px;
   max-width: 100px; 
  font-size: 8px;
  padding: 0px;
}

.main-cards{
    gap: 7px;
    margin: 2%;
}
.cards{
     border-radius: 0px;
    max-width: 200px;
    max-height: 250px;
    min-width: 160px;
    min-height: 250px;
     box-shadow: 0px 0px 2px gray; 

}
.icons{
    font-size: 35px;
    color: #754ef9;
}
 .cards h3{
text-align: center;
font-size: 10px;
}
.download-btns{
  margin-top: 10%;
   padding: 10px; 
  font-size: 10px;
   
}
  
.text-card{
    padding:  5px;
    font-size: 10px;
} 

.contain img{
  max-width: 120px;
  max-height: 100px;
  min-width: 120px;
  min-height: 100px;
}
.text-col{ 
    font-size: 10px;
     max-width: 185px;
    padding: 30px;
    min-width: 120px;
    max-height: 120px;
    
}
.text-img img{
  max-width: 120px;
  min-width: 120px;
  max-height: 150px;
    min-height: 100px;
}
.contains img{
 max-width: 120px;
  max-height: 100px;
  min-width: 120px;
  min-height: 100px;
}
.hire-header{
    max-width: 400px;
    min-width: 200px;
    font-size: 10px;
}

.hire-section{
    font-size: 10px;
}

.hire-txt{
    font-size: 10px;
    padding-left: 0px;
     padding-right: 8px;
}
.footer{
  display: flex;
justify-content: center;
gap: 0px;
background-color: #754ef9;
color: white;
padding-bottom: 0%;
font-size: 6px;
}
.footer h3{
  padding-right:0%;
  
}
.pages{
  display: flex;
justify-content: center;
margin: 0 auto;
gap: 10px;
padding-right: 0%;

}
.social{
   display: flex;
justify-content: center;
gap: 10px;
font-size: 6px;
}
.images1 {
    width: 60px;
    height: 60px;
    margin-top: auto;
}

.white { 
    width: 70px;
    height: 70px;
  
}
.testimonial-section {
   
    font-size: 10px;
}
.portfolio-section{
    font-size: 10px;
}

}
@media (max-width:690px){

.Navbar {
 margin-left:0%;
     display: flex;
}
.links{
  padding-left: 40%;
}
.lists {
    list-style: none;
    margin-left: 0%;
    padding: 0;
  display:inline-flex;  
     gap: 20px;  
}

.social-icon{
 border-radius: 50%;
  width:40px;
  height: 40px;
  box-shadow: 0px 5px 5px;
  padding:0px;
  font-size: 15px;
  color: #754ef9;
  margin-top: 15px;
  margin-left: 50px;
}
.fa-play{
  margin-top: 14px;
}

.download-btn {
   min-width: 80px;
   max-width: 100px; 
  font-size: 8px;
  padding: 0px;
}

.my-text h1{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}
.my-text p{
    font-size: 5px;
}
.my-text{
padding-top: 0px;
  padding-left: 20px;
}
}


@media (max-width:490px){
  .main1{
padding-left: 5px; 
max-width: 100px;
max-height: 100vh;
min-width:110px ;
min-height: 45vh;
 
}
.main1 p{
    text-align: center;
}

.images{
    display: block;
    max-width: 75px;
    max-height: 75px;
    border-radius: 50%;
  border: solid 8px #754ef9 ; 
 
}

.two{

 border: solid 5px #754ef9; 
border-radius: 50%;
position: absolute;



}
.main2{
 border: solid 24px white; 
 
/* background-color: white;
padding: 40px; */ 

border-radius: 50%; 
} 

.txt{
  color: #754ef9;
}
.my-text h1{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}
.my-text p{
    font-size: 5px;
}
.my-text{
padding-top: 0px;
  padding-left: 20px;
}

.Navbar {
 margin-left:0%;
     display: flex;
}
.links{
  padding-left: 0%;
}
.lists {
    list-style: none;
    margin-left: 30%;
    padding: 0;
  display:inline-flex;  
     gap: 20px;  
}

.social-icon{
 border-radius: 50%;
  width:40px;
  height: 40px;
  box-shadow: 0px 5px 5px;
  padding:0px;
  font-size: 15px;
  color: #754ef9;
  margin-top: 15px;
  margin-left: 50px;
}
.fa-play{
  margin-top: 14px;
}

.download-btn {
   min-width: 80px;
   max-width: 100px; 
  font-size: 8px;
  padding: 0px;
}
.creative{
padding-left: 20px; 
    }
  .cards{
     border-radius: 0px;
    max-width: 200px;
    max-height: 250px;
    min-width: 130px;
    min-height: 250px;
     box-shadow: 0px 0px 2px gray; 

}
}


@media (max-width:390px){

  .main1{
  padding-left: 5px; 
max-width: 100px;
   max-height: 100vh;
    min-width:100px ;
min-height: 45vh;
 
}
.main1 p{
    text-align: center;
}

.images{
    display: block;
    max-width: 75px;
    max-height: 75px;
    border-radius: 50%;
  border: solid 8px #754ef9 ; 
 
}

.two{

 border: solid 5px #754ef9; 
border-radius: 50%;
position: absolute;



}
.main2{
 border: solid 20px white; 
 
/* background-color: white;
padding: 40px; */ 

border-radius: 50%; 
} 

.creative{
padding-left: 10px; 
    }
 
.txt{
  color: #754ef9;
}
.my-text h1{
    font-size: 23px;
    font-family: 'Times New Roman', Times, serif;
}
.my-text p{
    font-size: 5px;
}
.my-text{
margin-left: 45px;
margin-top: 40px;
padding-top: 0px;
  padding-left: 0px;
}
.container-fluid{
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 0%;
}

.links{
  padding-left:5px;
}
.lists {
     gap: 10px;  
}
.content {
    font-size: 8px;
} 
.main-cards{
    gap: 4px;
    margin: 5%;
}
.cards{
     border-radius: 0px;
    max-width: 300px;
    max-height: 180px;
    min-width: 95px;
    min-height: 180px;
     box-shadow: 0px 0px 2px gray; 
}
.cards h3{
text-align: center;
font-size: 10px;
}
.social-icon{
 border-radius: 50%;
  width:40px;
  height: 40px;
  box-shadow: 0px 5px 5px;
  padding:0px;
  font-size: 15px;
  color: #754ef9;
  margin-top: 15px;
  margin-left: 50px;
}
.icons{
  font-size: 25px;
  font-weight: bold;
}
.fa-play{
  margin-top: 14px;
}

.download-btn {
   min-width: 60px;
   max-width: 80px; 
  font-size: 8px;
  padding: 0px;
}

.download-btns{
  border: none;
   padding: 4px; 
  font-size: 8px;
}
.text-card{
    padding:  5px;
    font-size: 8px;
}
.contain img{
  max-width: 100px;
  max-height: 100px;
  min-width: 100px;
  min-height: 100px;
}
.text-col{ 
    font-size: 10px;
    max-width: 145px;
    padding: 30px;
    min-width: 100px;
    max-height: 100px;
    min-height: 75px;
}
.text-img img{
  max-width: 100px;
  min-width: 100px;
  max-height: 150px;
  min-height: 100px;
}

.contains img{
 max-width: 100px;
  max-height:100px;
  min-width: 100px;
  min-height: 100px;
}

}

@media (max-width:290px){
.contain img{
  max-width: 80px;
  max-height: 80px;
  min-width: 80px;
  min-height: 80px;
}
.text-col{ 
    font-size: 10px;
    max-width: 105px;
    min-width: 80px;
    max-height: 80px;
}
.text-img img{
  max-width: 80px;
  min-width: 80px;
  max-height: 150px;
}

.contains img{
 max-width: 80px;
  max-height:80px;
  min-width: 80px;
  min-height: 80px;
}

}
